html, body{
    background:#ebebeb;
}
.parent-box{
    width:25%;height:300px;float:left;display:flex;;
}
.info > div:first-of-type{
    width: 50%;
    float: left;
    align-items: center;
    padding: 5px;
    padding-top:30px;
    display: flex;
    font-family: 'Titillium Web' 
}     
.info > div:first-of-type > a{
    padding-left:15px; 
    color:#1E3344;
    text-decoration: none;
}
.info > div:last-of-type{
    width: 50%;
    float: left;
    padding: 5px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.info > div:last-of-type > img{
    width:100%;
}
.box{
    width:100%;
    height:100%;        
    padding: 15px 15px 0 15px;
}
.dialog-box span{
    font-weight: bold;
    padding:15px 15px 0px 15px;
    font-size: 14px;
    display: table-cell; 
    color:#a2904b;
}
.dialog-box i{
    float: right;
    margin-right: 16px;
    margin-top: 7px;
}
.dialog-box{
    background: white;
    width: 100%;
    height: 55%;
    font: normal 20px/25px 'Titillium Web', 'Arial'; 
    display: table;
    position: relative;
    letter-spacing: 1px;
    border-radius: 1px;
}

.dialog-box > p{
    margin: 0;
    display: table;
    width: 100%;
}

.dialog-box > p > a{
    padding: 12px 14px 0;
    text-decoration: none;
    color:#1E3344;  
    display: table;              
}

.dialog-box:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0px 0 45px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    left: 15%;
    bottom: -20px;
    content: close-quote;
    z-index: 1;
}

.info{
    width: 100%;
    height: 45%;
    display: flex;
    position: relative;
    border-bottom:2px solid #a2904b;
}